@model ClientViewModel

@{
	ViewBag.Title = "Purchases";
    var pagedList = Html.PagedList(Model.purchase_model.PagesInfo.ItemsCount, Model.purchase_model.PagesInfo.ItemsPerPage, Model.purchase_model.PagesInfo.CurrentPage,
        Model.purchase_model.PagesInfo.DisplayedPages, pageNumber => Url.Action(Url.GetAction(), new
        {
			page = pageNumber
		}), new PagedListExtensions.PagedListRenderParams());
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<a asp-action="Update" class="btn btn-outline-primary">Добавить</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th class="text-center">ID</th>
                    <th class="text-center">Дата Регистрации</th>
                    <th class="text-center">клиент</th>
                    <th class="text-center">ID бонуса</th>
                    <th class="text-center">ID абонемента</th>
                     @if (User.IsInRole(nameof(UserRole.Developer)))
                        {
                            <th class="text-center">Действия</th>
                        }
				</tr>
				@foreach (var item in Model.purchase_model.Objects)
				{
                    var client_name = Model.client_model.Objects.Where(client => client.ClientId == item.ClientId).ToList();
                    <tr>
						<td class="text-center">
							@item.PurchaseId
						</td>
                        <td class="text-center">
                            @item.Date
                        </td>
                        <td class="text-center">
                            @Html.Raw(string.Join(" ", client_name.Select(s => string.Format(" {0}", s.Name))))
                        </td>
                        <td class="text-center">
                            @item.BonusId
                        </td>
                        <td class="text-center">
                            @item.SubId
                        </td>
                        @if (User.IsInRole(nameof(UserRole.Developer)))
                        {
                            <td class="text-center">
                                <a asp-action="Update" asp-route-id="@item.PurchaseId">Изменить</a><br/>
                                <a asp-action="Delete" asp-route-id="@item.PurchaseId" class="delete-object-button">Удалить</a>
                            </td>
                        }
                    </tr>
				}
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>
