@model GymsViewModel

@{
	ViewBag.Title = "Equipment";
	var pagedList = Html.PagedList(Model.eq_model.PagesInfo.ItemsCount, Model.eq_model.PagesInfo.ItemsPerPage, Model.eq_model.PagesInfo.CurrentPage,
        Model.eq_model.PagesInfo.DisplayedPages, pageNumber => Url.Action(Url.GetAction(), new
        {
			page = pageNumber
		}), new PagedListExtensions.PagedListRenderParams());
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<a asp-action="Update" class="btn btn-outline-primary">Добавить</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th class="text-center">ID</th>
                    <th class="text-center">название</th>
                    <th class="text-center">ID спортзала</th>
                     @if (User.IsInRole(nameof(UserRole.Developer)))
                        {
                            <th class="text-center">Действия</th>
                        }
				</tr>
                @foreach (var item in Model.eq_model.Objects)
                {
                    //
                    var gym_sportId = Model.gym_model.Objects.Where(gym_sportId => gym_sportId.GymId == item.GymId).ToList();
                    //
                    <tr>
						<td class="text-center">
							@item.EqId
						</td>
                        <td class="text-center">
                            @item.Name
                        </td>
                        <td class="text-center">
                            @Html.Raw(string.Join(" ", gym_sportId.Select(s => string.Format(" {0}", s.SportId))))
                        </td>
                        @if (User.IsInRole(nameof(UserRole.Developer)))
                        {
                            <td class="text-center">
                                <a asp-action="Update" asp-route-id="@item.EqId">Изменить</a><br/>
                                <a asp-action="Delete" asp-route-id="@item.EqId" class="delete-object-button">Удалить</a>
                            </td>
                        }
                    </tr>
				}
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>
